*.log
*.swp
*.iml
.DS_Store
.idea
.vscode

# prod config
/api/conf/prod.js

# node_modules
/node_modules/
/admin/node_modules/
/api/node_modules/
/app/node_modules/
/profile/node_modules/

# logs
/api/logs/

# fake data
/admin/data/
/app/data/
/api/data/

# static

# reports
/api/coverage/
/api/mochawesome-report/
/admin/coverage/
/admin/mochawesome-report/
/app/coverage/
/app/mochawesome-report/