#app
  font-family Helvetica, Arial, sans-serif
  //font-family 'Dosis', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
a
  color unset
  text-decoration none
  
.view
  margin-left wAsideMenu
  margin-top 60px
  padding 20px
  min-height calc(100vh - 60px)
//@media (max-width 1440px)
